
*.sqlite
.vs/VSWorkspaceState.json
.vs/ProjectZomboid-Computer/v16/.suo
.gradle/
.idea/
build/
gradle/
images/
lib/
logs/
src/
local.properties
version.properties
gradlew
gradlew.bat
Gemfile
Blender/
